body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 300px;
    overflow-y: auto;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

button.correct {
    animation: flash-green 1s;
}

button.incorrect {
    animation: flash-red 1s;
}

.disabled {
    opacity: 50%;
}
